# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Vite
.vite

# Test / coverage
coverage
